.logo {
  width: 18%; 
}
h1.Boss {
  background-color: rgb(255, 254, 254);
  font-style: italic;
  font-weight: 700px;
  font-size: 100px;
  
}
.Brownies {
  text-align: left;
  width: 340px;
  height: 300px;
  border: 10px solid;
}  
h1.titulos {
  font-style: italic;
  font-size: 50px;
  text-decoration: rgb(255, 0, 217) underline;
  
}
p.Cuerpo {
font-size: 20px;
font-style: italic;
display: block;
margin-bottom: 10px;
list-style-type:none;
}

h2.subtitulos {
  font-size: 40px;
  font-style: italic;
  text-decoration: rgba(169, 43, 43, 0.833) underline;
}

h3.Elaboracion{
  font-size: 40px;
  font-style: italic;
  text-decoration: blue underline;

}

.Posicion {
  padding-right: 600px;
  width: 340px;
  height: 300px;
  
}
